/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  box-sizing: border-box;
}

ngb-timepicker.ng-invalid input {
  border-color: red;
}

input.ng-invalid {
  border-color: red;
}
