/* You can add global styles to this file, and also import other style files */
@import "colors";
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  box-sizing: border-box;
}

ngb-timepicker.ng-invalid input {
  border-color: $error-border;
}

input.ng-invalid {
  border-color: $error-border;
}
